
.title {
    width: 50%;
    margin: 100px auto 0 auto;
}

.title h1 {
    font-family: 'Roboto Slab', serif;
}

.title h2{
    font-family: italic;
    font-weight: 300;
    font-family: 'Beau Rivage', cursive;
    font-size: 28px;
}
